<div class="container">
  <div class="row">
    <div class="col">

      <nav class="navbar navbar-light bg-faded mb-4">
        {{#link-to 'application' class='navbar-brand'}}
          Customers App
        {{/link-to}}
      </nav><!-- /.navbar -->

      {{outlet}}

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
